body {
  margin: 0;
  font-family: sans-serif;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: normal;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  border: 0;
  font-size: 0.9rem;
  cursor: pointer;

  &:focus {
    outline: none;
    box-shadow: $brand-dark-glow;
  }
}

.container {
  max-width: 60rem;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.puppy-list {
  width: 100%;
}
