.container {
  width: 90%;
  margin: 1rem auto;
}

.puppy-profile {
  width: 100%;
  margin: 0.5rem;
  border: 1px solid $brand-black;
  background-color: $brand-light-grey;
  box-shadow: $brand-shadow;

  &__header {

  }


.puppy-form__profile-info {

}

.profile-item__label {

}

.profile-item__input {

}
