// ---colors---
$brand-orange: #FC763D;
$brand-dark-grey: #838288;
$brand-light-grey: #BBBBB9;
$brand-white: #ffffff;
$brand-black: #030000;


// ---borders---
$brand-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
$brand-border-radius: 0.3rem;
$brand-dark-border: 1px solid #505050;
$brand-black-border: 1px solid #000000;
$brand-dark-glow: 0 0 5px rgba(80, 80, 80, 1);
$brand-light-glow: 0 0 5px rgba(255, 255, 255, 1);
$brand-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);

// ---text---
$brand-white-text: #ffffff;
$brand-dark-grey-text: #2A222B;

// ---formating-layout---
$gutter: 0.6rem;
