
$brand-orange: #f60;
$brand-grey: #5e6d70;
$brand-light-grey: lighten($brand-grey, 20%);
$brand-white: #f0f0f0;
$brand-black: #030000;
$brand-light-grey: #f2f2f3;
$brand-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
